#quanLyPhim{
    form{
        .form-group{
            label{
                color: white;
            }
        }
    }
    table{
        td{
            overflow: hidden;
            img{
                width: 60%;
    
            }
        }
        
    }
}